/*
Creator: Spitum Daruwalla   
Date created: 002/08/2020
Date last modified: 02/08/2020
*/


footer {
    text-align: center;
}

header {
    margin-left: 5px;
}


nav .nav-link:visited {
    color: black;    
} 


nav .nav-link:hover {
    font-weight:bold;
    text-decoration: none; 
}

.nav-link:active {
    font-weight: bold;
}


 footer 
{
    text-align: center;
}


.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}


.jumbotron-fluid {
    text-align: center;
    font-family: monospace ;
    background-color:#f7f6f0;
}

figure {
    background-color: #f7f6f0;
}
figure.item {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.carousel{
    text-align: center;
  }
