
        .container {
            width: 80%;
            margin: 0 auto;
            
        }

        h1 {
            padding: 10px;
        }



        .show {
            display:none;
        }